@page "/projects/bpost/{postalCodeInput?}"

@using System.Globalization

@rendermode InteractiveServer

<PageTitle>BpostSharp | @(Constants.DomainName)</PageTitle>

<div class="container p-4 ">
    <div class="vstack gap-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/projects">Projects</a></li>
                <li class="breadcrumb-item active" aria-current="page">BpostSharp</li>
            </ol>
        </nav>

        <div class="d-flex align-items-center gap-3">
            <h2 class="display-3">BpostSharp 📯</h2>

            <a href="@Constants.GitHubProfileUrl/BpostSharp" target="_blank" class="btn btn-outline-primary" role="button">
                <div class="hstack gap-2">
                    <i class="bi-github" />
                    <span class="d-none d-sm-block">Repository</span>
                </div>
            </a>
        </div>

        <h3>Intro</h3>

        <p>
            This page contains a demo for the <a href="@nugetUrl" target="_blank"><code>MichelMichels.BpostSharp</code></a> 
            C# library written by Michel Michels. The goal of the demo page is to provide a quick way to query Belgian city data 
            by postal code through public data from Bpost (the Belgian national post office).
        </p>

        <h3>Usage</h3>

        <p class="m-0">Fill in at least 2 numbers of a postal code to get results. The page will return following data:</p>
        
        <ul >
            <li>🏡 Icon indicating if the city is a municipality</li>
            <li>🏙️ City name</li>
            <li>🔢 Postal code</li>
            <li>📌 Province name</li>
            <li>🏢 Main municipality (if applicable)</li>
            <li>🔗 Link to Wikipedia</li>
        </ul>

        <hr />

        <h3>Demo</h3>

        <!-- Search -->
        <div class="d-flex mb-3">
            <form class="flex-fill align-self-center">
                <div class="d-flex flex-column flex-md-row gap-2">       
                    <div class="form-floating flex-grow-1">      
                        <input type="text" pattern="\d*" inputmode="numeric" class="form-control" id="postalcode-input" placeholder="Postal code placeholder" @bind="PostalCodeInput" @bind:event="oninput" @bind:after="Search">
                        <label for="postalcode-input">Postal code</label>
                    </div>                   
                </div>
            </form>
        </div>

        <!-- Result -->
        <div>
            <div class="d-flex align-items-center gap-2 mb-3">
                <h3 class="m-0">Results</h3>

                <p class="m-0">(@MunicipalityCount boroughs, @CityCount cities, @SearchResults.Count total)</p>
            </div>

            <div class="row g-3">
                @foreach (var city in SearchResults)
                {
                    <div class="col-md-4">
                        <div class="card w-100 h-100">
                            <div class="card-body">
                                <div class="card-img-top text-center p-1">
                                    @if(city.IsMunicipality.HasValue)
                                    {
                                        if(city.IsMunicipality.Value)
                                        {
                                            <span style="font-size:5rem;">🏡</span>
                                        } else
                                        {
                                            <span style="font-size:5rem;">🏢</span>
                                        }
                                    } else
                                    {
                                        <span style="font-size:5rem;">📬</span>
                                    }
                                </div>
                                <h5 class="card-title">@city.Name</h5>
                                <h6 class="card-subtitle mb-2 text-body-secondary">@city.PostalCode</h6>

                                <p class="card-text">
                                    <div class="vstack">
                                    @if(!string.IsNullOrEmpty(city.Province))
                                    {
                                        <span>📌 @textInfo.ToTitleCase(city.Province.ToLower())</span>
                                    }

                                    @if(!string.IsNullOrEmpty(city.MainMunicipality) && !city.MainMunicipality.Equals(city.Name, StringComparison.OrdinalIgnoreCase))
                                    {
                                        <span>🏢 @textInfo.ToTitleCase(city.MainMunicipality.ToLower())</span>
                                    }
                                    </div>
                                </p>

                                <a href="https://en.wikipedia.org/wiki/@city.Name" target="_blank" class="card-link">Wiki</a>
                            </div>
                        </div>                            
                    </div>
                }

                @if(!IsSearching && SearchResults.Count == 0)
                {
                    <div class="pa-4">
                        <i class="bi-search text-center d-block" style="font-size: 4rem; color:gray;" />

                        <p style="color:gray;" class="text-center">Type something into the searchbar!</p>
                    </div>
                }                
            </div>
        </div>
    </div>
</div>